#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

md-card > img {
}

md-slider {
  margin-top: 32px;
}

.autocompletedemoBasicUsage {
  position: fixed;
  top: 0;
}

/* angular-material slider */
.sliderdemoBasicUsag {
  position: fixed;
  bottom: 0;
  padding-top: 100px;
}

.sliderdemoBasicUsage input[type="number"] {
  text-align: center;
}

.carddemoBasicUsage md-card {
  min-height: 150px;
}
